
body {
      background-image: url('https://storage.googleapis.com/wzukusers/user-34708702/images/5c812cb73d006oVrNbDE/stars.gif');
      font-family: Arial;
      font-size: 12px;
}

h1{
  font-size: 30px;
  text-align: center;
  color: aliceblue;
}

form{
  width: 350px;
  border: 10px solid #6d1eff;
  border-radius: 1em;
  background-color:steelblue;
  font-family: 'Times New Roman';
  margin: auto;
  text-align: center;
}

input{
  width: 150px;
  box-sizing: border-box;
  border: 1px solid #01d9ff;
}
label{
  width: 150px;
  display: inline-block;
  text-align: center;
}

input :focus
textarea :focus{
  border-color: #000;
}

p{
  text-align: center;
}
textarea{
  width: 250px;
  height: 100px;
  margin-left: 20px;
}
.button{
  height: 30px;
  border: none;
  border-radius: 7px;
  padding: 5px 15px;
  outline: none;
  background-color: #03cffc;
  color: #000;
  font-size: 25px;
  box-shadow: 0px 6px #000;
  cursor: pointer;
}

.button:hover{
  background-color: #0b31a5;
}
.button:active{
  transform: translateY(4px);
  background-color: #03cffc;
  box-shadow: 0px 4px #000;
}

/*  codigo desenvolvido no dia 21/09/22  */
